body {
  background-color: black;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
  background: #f1c200 !important;
}

.card-home {
  height: 110px;
}

.card-detail {
  height: 80px;
}

.card-cart{
  height: 95%;
}

.title-carrito {
  color: white;
}

.card-styles{
  margin-top: 20px;  
}

.price-total {
  margin-top: 20px;
  text-align: center;
}